Repository erichdongubler-mozilla/moz-webgpu-cts, pull requests merged in 2024-05, with the labels that each got.

#97 Dumb refactors for expanded and normalized property values
  moz-webgpu-cts/src/main.rs
  moz-webgpu-cts/src/metadata.rs
  moz-webgpu-cts/src/shared.rs
Labels: A-webgpu-cts, refactor

#98 Docs fixes + CI
  .github/workflows/push.yml
  moz-webgpu-cts/src/shared.rs
  whippit/src/metadata.rs
  whippit/src/metadata/properties.rs
Labels: bug, documentation, infra

#100 Support `implementation-status` prop. at the test level
  moz-webgpu-cts/src/main.rs
  moz-webgpu-cts/src/metadata.rs
Labels: enhancement, A-webgpu-cts

#102 Add description to CLI
  moz-webgpu-cts/src/main.rs
Labels: documentation, A-webgpu-cts

#92 Add Servo integration via `--browser=servo`
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  moz-webgpu-cts/src/main.rs
  moz-webgpu-cts/src/shared.rs
Labels: enhancement, A-webgpu-cts
